
.about-fill ,.menu-bar-1,.introduce,.introduce-up,.introduce-bottom, .study-content-fill, .review-fill, .content-bottom-review, .picture-content-center, .picture-content-bottom, .news-mask, .featured-fill, .international-fill, .international-bottom-pd, .footer  {
    max-width: 768px;
}




/* -------------menu---------- */
.menu-bar{
    display: none;
}
.menu-mobile{
    display: block;
}
.menu-mobile{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #b9b8b8;
}
.menu-mobile img{
    width: 200px;
    height: 58px;
}

.menu-mobile{
    width: 100%;
    height: 100px;
}
.menu-mobile .menu-bar-1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-mobile .menu-bar-logo {
    max-width: 100%;
    margin-right: 0;
}
.menu-mobile .icon-menu,.icon-search{
    max-width: 100%;
    padding: 30px 20px;
}
.menu-mobile .fa-search{
    font-size: 30px;
}
.menu-mobile .icon-menu .fa-bars{
    font-size: 30px;
}
.menu-mobile .icon-menu:hover .menu-bar-menu{
    display: block;
}


.menu-mobile .menu-bar-lv1 {
    position: relative;
    display: flex;
    flex-direction: column;

}
.menu-mobile .menu-bar-lv1-name {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 10px 10px 30px;
    min-width:300px;
    font-family: Balooo;
    text-transform:uppercase;
    color: #393D72;
    position: relative;
}
.menu-mobile .menu-bar-lv2{
    display: none;
    position: absolute;
    background-color: #ffffff;
    top:0px;
    left:270px;
    border-radius: 10px;
    box-shadow: 0 1px 5px #b9b8b8;
    padding: 10px 10px;
    font-size: 15px;
}
.menu-mobile .icon-menu{
    position: relative;
}
.menu-mobile .menu-bar-menu{
    position: absolute;
    display: none;
    top:80px;
    left: -15px;
    background-color: #ffffff;
}

.menu-mobile .menu-bar-lv1-name:hover .menu-bar-lv2{
    display: block;
}
.menu-mobile .menu-bar-lv2-name{
    min-width: 200px;
}

.menu-mobile .menu-hover-mobile{
    cursor: pointer;
}
.menu-mobile .menu-bar-lv2-name:hover .menu-bar-lv2-item{
    color: #dd006d;
}

.menu-mobile .fa-phone{
    font-size: 25px;
    padding: 0 0;
    color: #393D72;
}
.fa-phone:hover,.fa-bars:hover{
    color: #dd006d;
}
.menu-mobile{
    height: 80px;
}
.icon-search:hover .fa-phone{
    color: #dd006d;
}
.icon-menu:hover .fa-bars{
    color: #dd006d;
    cursor: pointer;
}
.icon-search:hover .fa-phone{
    color: #dd006d;
}
.menu-hover-mobile1:hover{
    color: #dd006d;
}






/* --------------------------- */

.about{
    margin-top: 80px;
}
.about .about-title{
    font-size: 40px;
}
.about .about-desc{
    font-size: 16px;
}
.about .about-fill{
    max-width: 100%;
    padding: 50px 0 150px 0;
}
.about-content{
    max-width: 100%;
    text-align: center;
    padding: 0 50px;
}
.about-img{
    margin: auto;
    padding-top: 20px;
}
.about-img img{
    width: 450px;
    height: 350px;
    overflow: hidden;
}
.introduce-up-item{
    max-width: 100%;
}
.about .about-fill{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -------introduce---------- */
.introduce-bottom-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.introduce-bottom-content h1,
.introduce-bottom-content p{
    text-align: center;
}
.introduce-bottom-img{
    margin: auto;
    padding-top: 20px;
}
.icon-play{
    bottom: 40%;
}




.image-absolute-icon{
    position: relative;
    width: 120px;
    height: 100%;
    margin: auto;
}
.introduce-up-icon{
    position: absolute;
    z-index: 4;
    top:16%;
    right: 25%;
    color: white;
}
.introduce-bottom-content-img-location1{
    top: 0%;
    right:15%;
}
.introduce-bottom-content-img-location2{
    bottom: 48%;
    left: 10%;
}

/* --------------Study-------- */
.study-bottom-item-fill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.study-bottom-item-content-fill1, .study-bottom-item-content-fill2{
    width:50%;
    padding: 0 10px 20px 10px;
    order: 1;
}

.study-bottom-item-content-fill3{
    width: 100%;
    padding: 0 0 20px 0;
    order: 3;
}

.introduce-up-item{
    width: 50%;
}


/* --------- */

/* ---------------review------ */
.content-bottom-review-in2,.content-bottom-review-in6,.content-bottom-review-in3,.content-bottom-review-in5{
    display: none;
}
.content-bottom-review-in-fill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-bottom-review-icon{
    width: 20%;
}
.content-bottom-review-desc-fill,.content-bottom-review-desc,.content-bottom-review-title{
    width: 100%;
}

.content-review-item2{
    margin-top: 0;
}
.content-review-item{
    padding: 0;
}
.content-bottom-review-in-fill{
    border: 1px solid #dd006d;
}





/* --------page ct hoc----- */

/* ----------page chuong trinh hoc------------- */
.contact-web-title-mask .web-title{
    font-size: 30px;
}
.contact-web-title-mask .contact-web-link{
    font-size: 14px;
}
.page-learning .contact-web-title-fill{
    margin-top: 90px;
}






/* ------page---gioi---thieu-------- */
.gt-container,.gt-container-content{
    max-width: none;
}

.gt-content-left, .gt-content-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.gt-container-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gt-content-right{
    width: 100%;
    order: 1;
}

.gt-content-middle{
    width: 100%;
    order: 2;
    max-width: none;
}
.gt-content-left{
    width: 100%;
    order: 3;
}
.gt-content-left-item{
    width: 48%;
}
.contact-web-title-fill{
    margin-top: 90px;
}

/* -----tin tuc------ */
/* ----------tin tuc------- */
.page-news-left-item-fill{
    width: 50%;
}






/* -----lien he---- */
.form-contact-bottom-fill-in form {
    padding: 0 15px;
}
.page-lien-lac-bottom-item{
    width: 50%;
    padding: 0 15px 30px 15px;
}
.page-lien-lac-bottom-item2{
    margin: auto;
}

.space {
    width: 100%;
    height: 40px;
    display: block;
}
/* ------font */

.top-title2{
    font-size: 40px;
}
.contact-web-link2 strong, .contact-web-link2{
    font-size: 14px;
}
.contact-web-link a{
    font-size: 14px;
}
.study-bottom-content-desc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400px;
}
.footer-fill p, .footer-fill a {
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
    line-height: 26px;
    color: #dddddd;
}
.footer-fill h3 {
    font-size: 18px;
    margin-bottom: 10px;
}